.login-page{
  background: url('../images/back5.jpg');
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#logreg-forms {
  width: 412px;
  height: 75vh;
  margin: 15vh auto;
  background-color: #f3f3f3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
#logreg-forms form {
  /* background: url('../images/cool-background.png'); */
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 410px;
  padding: 15px;
  margin: auto;
}
#logreg-forms .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
#logreg-forms .form-control:focus {
  z-index: 2;
}
#logreg-forms .form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#logreg-forms .social-login {
  width: 390px;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 10px;
}
#logreg-forms .social-btn {
  font-weight: 100;
  color: white;
  width: 190px;
  font-size: 0.9rem;
}

#logreg-forms a {
  display: block;
  padding-top: 10px;
  color: lightseagreen;
}

#logreg-form .lines {
  width: 200px;
  border: 1px solid red;
}

#logreg-forms button[type="submit"] {
  margin-top: 20px;
  background-color: #1167b1;
}

#logreg-forms button[type="submit"]:hover {
  background-color: green;
  transform: scaleX(1.05);
  transition: 0.5s ease-in-out;
}

#logreg-forms .facebook-btn {
  background-color: #3c589c;
}

#logreg-forms .google-btn {
  background-color: #df4b3b;
  margin-right: 5px;
}

#logreg-forms .form-signup .social-btn {
  width: 210px;
}

#logreg-forms .form-signup input {
  margin-bottom: 2px;
}

#logreg-forms .no-account{
  margin-left: 30%;
}

.form-signup .social-login {
  width: 210px !important;
  margin: 0 auto;
}



#btn-signup{
  margin-left: 25%;
  margin-top: -4%;
  background-color: orangered;
}

#btn-signup:hover{
  background-color: red;
  transform: scaleX(1.05);
  transition: 0.5s ease-in-out;
}

/* Mobile */

@media screen and (max-width: 500px) {
  #logreg-forms {
    width: 300px;
  }

  #logreg-forms .social-login {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  #logreg-forms .social-btn {
    font-size: 1.3rem;
    font-weight: 100;
    color: white;
    width: 200px;
    height: 56px;
  }
  #logreg-forms .social-btn:nth-child(1) {
    margin-bottom: 5px;
  }
  #logreg-forms .social-btn span {
    display: none;
  }
  #logreg-forms .facebook-btn:after {
    content: "Facebook";
  }

  #logreg-forms .google-btn:after {
    content: "Google+";
  }
  #btn-signup{
    margin-left: 15%;
  }
  #logreg-forms button[type="submit"] {
    margin-top: 20px;
    margin-left: 0%;
  }
  #logreg-forms .no-account{
    margin-left: 20%;
  }
  #btn-signup{
    width: 100%;
    margin-left: 0%
  }
}